<div class="m-2" *ngIf="isModelAdded">
    <section>
        <div class="w-full items-center">
            <h4 class="text-2xl dark:text-white">We think you May like..</h4>
            <div class="mb-2">
                <app-card-row [items]="calcReccs" [itemsLoaded]="isItemListLoaded.calcReccs"
                    [options]="{title: '', type: 'rawg'}"></app-card-row>
            </div>
            <div class="" *ngFor="let genreRecc of genreReccs">
                <app-card-row [items]="genreRecc.results" [itemsLoaded]="isItemListLoaded.genreReccs"
                    [options]="{title: genreRecc.genre, type: 'rawg'}"></app-card-row>
            </div>
        </div>
    </section>
</div>

<div class="m-2" *ngIf="!isModelAdded">
    <section>
        <p class="text-xl"> Please select some genres from <a [routerLink]="['/user-genres']"
                class="text-blue-700">here,</a> so we can make
            some good recommendations! </p>
    </section>
</div>